* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: lightgrey;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1100px;
  margin: auto;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-titles,
.input-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 0.5rem;
}

.input-fields {
  align-items: flex-start;
}

.input-data {
  width: 15rem;
  height: 2rem;
  background: lightgrey;
  color: black;
  font-size: large;

  margin: 0.3rem;
  border-radius: 0.3rem;
  padding: 0.3rem;
}

.input-name {
  width: 15rem;
  height: 2rem;
  color: black;
  font-size: large;
  margin: 0.3rem;
  text-align: right;
}

.qr-container {
  background: white;
  padding: 15px;
  margin: 1rem;
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 10rem;
  height: 2rem;
  background: darkslategrey;
  color: white;
  font-size: large;
  border: none;
  margin: 0.3rem;
  border-radius: 0.3rem;
}
